<article class="table-container">
  <!-- tabla de los productos -->
  <h1>Tabla de Productos</h1>
  <table class="table table-dark table-striped table-bordered">
    <thead>
      <tr>
        <th>Id</th>
        <th>Codigo</th>
        <th>Descripcion</th>
        <th>Precio de Compra</th>
        <th>Precio de Venta</th>
        <th>Ganancia</th>
        <th>Existencia</th>
        <th>Editar</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let prod of productos">
        <td>{{prod.id}}</td>
        <td>{{prod.codigo}}</td>
        <td>{{prod.descripcion}}</td>
        <td>{{"s/. "+prod.precioCompra}}</td>
        <td>{{"s/. "+prod.precioVenta}}</td>
        <td>{{"s/. "+prod.ganancia}}</td>
        <td>{{prod.existencia}}</td>
        <td><button routerLink="/productos/{{productos|json}}/{{prod.id}}"><i class="fi fi-rr-edit"></i></button></td>
      </tr>
    </tbody>
</table>
</article>

