.body-container{
  position: relative;
}
img{
  width: 59.65rem;
  height: 39.2rem;
  position:absolute;
}
p{
  position: absolute;
  text-align: center;
  color: aliceblue;
  font-size: 60px;
  top: 160px;
  left: 280px;
  font-weight: 600;
  text-shadow: 0px 2px 10px black;
  font-family: 'Lobster', cursive;
}
span{
  font-size: 70px;
  color: orange;
  text-shadow: 0px 1px 10px rgb(1, 1, 1);
}
