.menu-container{
  width:10.5rem ;
  height: 39.2rem;
  background: #0d1b2a;
}
.home-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  border-bottom:.5px solid white;
}
.home-container i{
  color: #fff;
  font-size: 25px;
}
.home-container a{
  color:#fff;
  font-size: 20px;
  font-weight: 400;
}
.home-container a:hover{
  color: rgb(222, 222, 222);
}
.product-container{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}
.product-container i{
  color: #fff;
  font-size: 25px;
}
.product-container a{
  color:#fff;
  font-size: 20px;
  font-weight: 400;
}
.product-container a:hover{
  color: rgb(222, 222, 222);
}
